
{% extends 'index.html' %}
<style>
input[type=text], input[type=password] {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


#FormFrame{
    align-content: center;
    padding-left: 35%;
}
</style>
{%block content %}




<div id="FormFrame">
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.errors }}
  
    <input type="submit" value="Login">
  </form>
</div>
{% endblock %}